# Framework
# ---------
YII_DEBUG   = true
YII_ENV     = dev

# Request parameters
COOKIE_VALIDATION_KEY = Thae5NiwUw5eiwucOf3aChieAeGahf4o
# Uncomment to change site root
#BASE_URL = /admin

# Local database for storing microservice data(e.g. migrations)
DB_DSN           = mysql:host=db;port=3306;dbname=mailer
DB_USERNAME      = mailer
DB_PASSWORD      = mailer
DB_TABLE_PREFIX  =
