# Windows thumbnail cache
Thumbs.db
# Mac DS_Store Files
.DS_Store
# Phpstorm project files
.idea

# Composer itself is not needed
composer.phar
# Composer vendor dir
/vendor

# Phpunit itself is not needed
phpunit.phar
# Local phpunit config
/phpunit.xml

# Project file
.env
